# GA Data Science 18 (DAT18) - Lab 2.1
    - Using IPython Notebook
    - Basic Python Data Structures
    
IPython Shortcuts:
    - comment out a line of code = command + /
    - autocomplete text = tab
    - help for function = shift + tab (while inside parentheses)

In [1]:
# Try running this cell using one of these three shortcuts:
#   - run block and keep cursor on cell: ctrl + enter
#   - run block of code = shift + enter
#   - run block and create cell below: option + enter

a = 5
b = 7

c = a + b

print "%d + %d = %d" % (a, b, c)

5 + 7 = 12

## Python Data Structures
Python different types of numeric data type
    - int: Integer value
    - float: floating point value
    - bool: Boolean True or False
    - complex: contains variables and values
    
The ```type()``` function allows us to retrieve the type of an object

In [2]:
print type(10)

<type 'int'>

In [4]:
print type(10.0)

<type 'float'>

In [5]:
print type(True)

<type 'bool'>

In [6]:
print type(10+2j)

<type 'complex'>

All basic math types use expected operators

In [7]:
5+5

10

In [8]:
2.2+2.2

4.4

In [9]:
True+True

2

In [10]:
3**2

9

In [11]:
(10+2j)*2

(20+4j)

Any of these values can be assigned to a variable

In [12]:
a = 2*5
b = 5
c = 2.0

a + b

15

In [13]:
# What value will this return?  Why?
b / a

0

In [14]:
# What value will this return?  Why?
c / b

0.4

####  Now you try
Using (\*, /, +, -, \*\*)
    - What happens when you combine different types?
    - Show how a boolean might be helpful cleaning values?

In [15]:
# Your work here!
# If you need more cells use: option + enter
# Using the values below
# Multiply and divide each by the others
# Discuss any questions with your neighbors
a = 3
b = 2.3
c = True
d = False

## Non-Numeric Types
If you go through the python documentation there are many different types but the important ones we'll cover here. 
We'll also introduce more complex types throughout the course. Types you'll frequently interact with are:
    - strings (which play interestingly with lists, we'll see in a sec)
    - lists
    - tuples
    - sets
    - dictionaries
    
#### Python lists
The next basic data type is the Python list: 

A list is an ordered collection of elements, and these elements can be of arbitrary type.  Lists are mutable, meaning they can be changed in-place.  In python lists are indicated by square brackets [ and ].  Items in a list are indexed starting with 0.

In [16]:
k = [1, 'b', True]
print k

[1, 'b', True]

In [17]:
# What value will this return?
k[1]

'b'

In [18]:
k[0] = 4

print k

[4, 'b', True]

lists can also contain lists

In [19]:
a = [[1,2,3], 4, 5]
a[0]

[1, 2, 3]

#### Python Strings
    - String can be written using either single or double quotes
    - Later in the course we will dig deeply into strings and text data

In [20]:
a = 'Hello world!'
print a
print a.lower()
print a.upper()

Hello world!
hello world!
HELLO WORLD!

In [21]:
name = "my name"
print a+' My name is ' + name

Hello world! My name is my name

In [22]:
groceries = "milk,eggs,bacon,spinach,olive oil,cookies"
groceries.split(',')

['milk', 'eggs', 'bacon', 'spinach', 'olive oil', 'cookies']

#### Python Tuples

These are very similar to lists, but are immutable

In [23]:
x = (1, 'a', 2.5)
print x

(1, 'a', 2.5)

In [24]:
x[0]

1

In [25]:
# What will happen when I assign a tuple index a value?
x[0] = 4

TypeError: 'tuple' object does not support item assignment

#### Python Sets
A set is a list with duplicates removed

In [26]:
y = set([1, 1, 2, 3, 5, 8])

In [27]:
print y

set([8, 1, 2, 3, 5])

In [28]:
# What will this produce?
a = [1, 3, 4, 5, 5, 5, 7, 8, 8, 9]
list(set(a))

[1, 3, 4, 5, 7, 8, 9]

#### Python Dictionaries
These are unordered collections of key:value pairs

Value are looked up by keys

In [29]:
info = {'name': 'Bob', 'age': 54, 'kids': ['Henry', 'Phil']}

In [30]:
info['name']

'Bob'

In [31]:
info['name'] = 1
info['name']

1

New keys can also be added anytime

In [32]:
info['new_key'] = 'hi'

In [33]:
info.keys()

['new_key', 'age', 'kids', 'name']

#### Try on your own
Run the 2 cells below and discuss the results with your neighbor

In [34]:
a = [1, 2]
b = [3, 4]
c = {'a':a, 'b':b}
print c

{'a': [1, 2], 'b': [3, 4]}

In [35]:
a = [1, 3]
b[0] = 5
print c

{'a': [1, 2], 'b': [5, 4]}

## Flow Control
Lists, tuples, sets,and dictionaries can be iterated through (and this will be very common). There are good and bad ways to iterate through lists.

In [36]:
ex_list = [1, 2, 3]

for val in ex_list:
    print val

1
2
3

In [37]:
for i in range(10):
    print i

0
1
2
3
4
5
6
7
8
9

Strings are also iterable (meaning they can be looped over)

In [38]:
string = 'heres my string'
for c in string:
    print c

h
e
r
e
s

m
y

s
t
r
i
n
g

In [39]:
a = 10

if a < 10:
    print a
elif a > 10:
    print a*a
else:
    print a-4

6

### Exercise 1.1
#### Combining the for looping and if, elif, else conditions

Write code that prints the largest value in the given list

In [50]:
# You are given the list below, 
# try writing code using loops to automatically pick out the largest value
# If you finish largest value, try getting the mean and mode values
test_list = [2, 5, 4, 1, 7, 3]
result = None

In [51]:
for i in test_list:
    if i > result:
        result = i
        print i

2
5
7

In [53]:
print result

7

In [43]:
for i in test_list:
    if i > result:
        result = i
        print i

NameError: name 'test_list' is not defined

### Errors and Error Handling

In [44]:
print 1/0

ZeroDivisionError: integer division or modulo by zero

In [45]:
for i in range(-10, 10):
    print 3.0/i

-0.3
-0.333333333333
-0.375
-0.428571428571
-0.5
-0.6
-0.75
-1.0
-1.5
-3.0

ZeroDivisionError: float division by zero

In [46]:
for i in range(-10, 10):
    try:
        print 3.0/i
    except Exception, e:
        print e

-0.3
-0.333333333333
-0.375
-0.428571428571
-0.5
-0.6
-0.75
-1.0
-1.5
-3.0
float division by zero
3.0
1.5
1.0
0.75
0.6
0.5
0.428571428571
0.375
0.333333333333

You can use break to halt a loop

In [47]:
for i in range(-10, 10):
    try:
        print 3.0/i
    except Exception, e:
        break

-0.3
-0.333333333333
-0.375
-0.428571428571
-0.5
-0.6
-0.75
-1.0
-1.5
-3.0

Or continue to skip over an issue

In [48]:
for i in range(-10, 10):
    try:
        print 3.0/i
    except Exception, e:
        continue

-0.3
-0.333333333333
-0.375
-0.428571428571
-0.5
-0.6
-0.75
-1.0
-1.5
-3.0
3.0
1.5
1.0
0.75
0.6
0.5
0.428571428571
0.375
0.333333333333

## Functions

In [49]:
def foo(x):
    x = x * x
    return x

a = 3
print a
print foo(a)

3
9

### Exercise 1.2

#### Take your code from Ex 1.1 and put it in a function

In [56]:
test_list = [2, 5, 4, 1, 7, 3]
test_list_2 = [2, 2, 2, 3, 2, 5, 3]

# Complete the function with your code
# make sure you get the same max value as before
# Once you do that try mean and mode as well

def max_value(lst):
    result = None
    for val in lst:
        if val>result:
            result = val
    return result

print max_value(test_list)

7

In [ ]:
def

In [ ]:
def mean_value(lst):
    return None

def mode_value(lst):
    return None

In [ ]:
print mean_value(test_list)
print mean_value(test_list_2)

In [ ]:
print mode_value(test_list)
print mode_value(test_list_2)

### Exercise 1.3
#### Try writing a function that takes a string and returns the first 4 characters that are not vowels

In [57]:
input_string = 'a man walked'
# Work from here!
# Build out the no_vowels function
def no_vowels(string):
    vowels = ['a', 'e', 'i', 'o', 'u']
    result = ''
    for c in string:
        if c not in vowels:
            result = result + c
            print result
    return result

no_vowels(input_string)

 m
 mn
 mn
 mn w
 mn wl
 mn wlk
 mn wlkd

' mn wlkd'

### Python Classes
A class allows you to build your own object types and organize functionality.

Each class must have an __init__() function
    - This is used by python when creating the object.
A function inside a class is called ```method```, and it can have itself as a parameter (self)
    - This allows us to store and use values later

In [ ]:
class Calculator(object):
    
    
    def __init__(self, x=0):
        self.result = x
    
    # The __str__ method is called when we use print
    # this is how we define that for our class
    def __str__(self):
        return str(self.result)
    
    def factorial(self):
        val = 1
        for n in range(2,self.result+1):
            val = val*n
        self.result = val
        return self.result
    
    def add(self,y):
        self.result += y
        return self.result

In [ ]:
calc = Calculator(4)
print calc

In [ ]:
calc.factorial()
print calc

In [ ]:
calc.add(5)
print calc

### Exercise 1.4

#### Try adding the square function to our calculator class

In [22]:
class Calculator(object):
    
    
    def __init__(self, x=0):
        self.result = x
        self.name = 'Dylan'
    
    # The __str__ method is called when we use print
    # this is how we define that for our class
    def __str__(self):
        return str(self.result)
    
    def factorial(self):
        val = 1
        for n in range(2,self.result+1):
            val = val*n
        self.result = val
        return self.result
    
    def add(self,y):
        self.result += y
        return self.result
    
    def square(self):
        # YOU DO: Implement the square function
        # square the value x, store it, and return it
        return None

In [23]:
calc = Calculator()
calc_2 = Calculator(2)

In [10]:
Calculator.add

In [ ]:
# YOU DO: Once You've built out the square function
# If you built the square function, this should print 144
calc = Calculator(12)
calc.square()
print calc

# Assert can be used for testing
# It throws an error if the statement is false
assert calc == 144

## Lab Section 1 End