In [13]:
import MySQLdb
import pandas as pd

In [14]:
database_url="dbname={scienceexchangeprod} host={scienceexchangeprod.cczu8fldoafk.us-east-1.rds.amazonaws.com} user={readonly_user} password={yiYpcEKln4YyLVWe2TfW} port={3306} sslmode=require"

In [15]:
db_connection = MySQLdb.connect(db='scienceexchangeprod', host='scienceexchangeprod.cczu8fldoafk.us-east-1.rds.amazonaws.com', user='readonly_user', passwd='yiYpcEKln4YyLVWe2TfW', port=3306)

In [17]:
query =  """
            
        SELECT id, name FROM experiment_types;
        
        """
df_users = pd.read_sql(query, db_connection)
len(df)

13929

In [18]:
df_users.to_csv('/Users/sheena/Desktop/GA_course/df_exp.csv', index=False) 
df_users = pd.read_csv('/Users/sheena/Desktop/GA_course/df_exp.csv')

In [12]:
df_users.head()

   id first_name last_name
0   1       Ryan    Abbott
1   2        Dan      Knox
2   3  Elizabeth     Iorns
3   4     Jayant  Kulkarni
4   5        Dan      Knox